[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = yuma140902
	email = yuma140902@gmail.com
[core]
	autoCRLF = false
	whitespace = cr-at-eol
	#editor = ~/bin/vim/vim --nofork -c 'set fenc=utf-8' +1
[alias]
	plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
	glog = plog --all --graph
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
[gui]
	recentrepo = Z:/dev/rust/snake/snake_game
